* {
    box-sizing: border-box;
}

.calculator-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    height: auto;
    margin: 0 auto;
    margin-top: 24px;
}

#display {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border: 1px solid red;
    width: 25%;
    height: 50px;
}

.numbers-row {
    display: flex;
}