@import url('https://fonts.googleapis.com/css2?family=Handjet:wght,ELSH@100..900,2&family=Wix+Madefor+Text:ital,wght@0,400..800;1,400..800&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #AEB5BD;
}

.calculator-container {
    max-width: 400px;
    min-width: fit-content;
    height: auto;
    margin: 0 auto;
    margin-top: 24px;
    background-color: #12120A;
    padding: 16px;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.75) 0px 22px 70px 4px;
}

.display-container {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: end;
    border: 2px solid #ff1f2f;
    min-width: 100%;
    min-height: 85px;
    color: #FF1F2F;
    font-family: "Handjet", sans-serif;
    padding: 4px 8px;
    margin-bottom: 12px;
    border-radius: 8px;
    box-shadow:
        inset 0 0 40px 12px rgba(255, 31, 47, 0.15),
        inset 0 0 20px 6px rgba(255, 31, 47, 0.25);
}

#display {
    font-size: 40px;
    font-weight: 600;
    overflow-wrap: anywhere;
    align-items: center;
}

.mini-display-container {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
    overflow-wrap: anywhere;
    gap: 2px;
}

.numpad-container {
    width: 100%;
    background-color: #434142;
    border-radius: 12px;
    padding: 8px 0px;
}

.numbers-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.button-container {
    margin: 8px;
}

button {
    border-radius: 50%;
    min-width: 52px;
    min-height: 52px;
    border: none;
    cursor: pointer;
    margin: 4px 0px;
    font-size: 24px;
    font-weight: 800;
    font-family: "Wix Madefor Text", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.35);
}

#clear-btn {
    background-color: #FF900A;
}

#clear-btn, 
#decimal-btn,
.number-btn {
    color: #12120A;
}

.calculator-btn,
#divide-btn,
#multiply-btn,
#equals-btn {
    background-color: #12120A;
    color: #F2F2F2;
}

#subtract-btn {
    background-color: #E42602;
}

#addition-btn {
    background-color: #537AF1;
}

.button-container {
    padding: 4px 8px;
    background-color: #4C4B49;
    border-radius: 8px;
    box-shadow: 2px 2px 10px 4px rgba(0,0,0,0.5);
}

.number-btn {
    background-color: #FFFEE7;
}

button:not(:disabled):hover {
    filter: brightness(0.9);
}

button:not(:disabled):active,
button:not(:disabled).active {
    transform: scale(0.95);
    filter: brightness(0.8);
}

.operator-btn:disabled,
.calculator-btn:disabled,
#subtract-btn:disabled,
#addition-btn:disabled,
#decimal-btn:disabled,
#clear-btn:disabled,
#divide-btn:disabled,
#multiply-btn:disabled,
#equals-btn:disabled {
    color: darkgrey;
    background-color: grey;
    cursor: default;
}