* {
    box-sizing: border-box;
}

.calculator-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    height: auto;
    margin: 0 auto;
    margin-top: 24px;
}

.display-container {
    display: flex;
    flex-direction: column;
    align-items: end;
    border: 1px solid red;
    width: 25%;
    height: 50px;
}

#display {
    font-weight: 600;
}

.mini-display-container {
    display: flex;
}

.numbers-row {
    display: flex;
}

.number-btn.active,
.operator-btn.active,
.calculator-btn.active {
    transform: scale(0.95);
    filter: brightness(0.9);
}
